---
import LocationHover from './LocationHover.jsx';
---


<div>

    <div>
        <div class="flex-1 flex justify-center items-center">
            <h1 class="text-4xl font-louize font-bold text-center">
                Hello
            </h1>
            
        </div>
        <div class="flex-1 flex justify-center items-center">
            <h1 class="text-4xl font-bold text-center mr-2">
                Amaan
            </h1>
            <h1 class="text-xl text-center">
                here
            </h1>
        </div>
        <div class="flex-1 flex justify-center items-center">
        </div>
    </div>
    <div>
        <h1>
            I'm mainly a backend engineer, 
            <img src="/cloud.png" class="w-10 h-10">
            specializing in cloud & AI.
        </h1>


        <LocationHover client:load />
        
    </div>
</div>